<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="web.abroad.prototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_background"
        android:label="@string/app_name"
        android:logo="@drawable/ic_icon_background"
        android:roundIcon="@mipmap/ic_icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="web.abroad.prototype.ChatsActivity"></activity>
        <activity android:name="web.abroad.prototype.MessagesActivity" />
        <activity android:name="web.abroad.prototype.AccommodationActivity" />
        <activity android:name="web.abroad.prototype.SeeAccommodationsActivity" />
        <activity android:name="web.abroad.prototype.CalendarActivity" />
        <activity android:name="web.abroad.prototype.UploadAccommodationActivity" />
        <activity android:name="web.abroad.prototype.MyAccommodationsActivity" />
        <activity android:name="web.abroad.prototype.EditProfileActivity" />
        <activity android:name="web.abroad.prototype.ForgotPwdActivity" />
        <activity android:name="web.abroad.prototype.CreateOwnerActivity" />
        <activity android:name="web.abroad.prototype.ProfileActivity" />
        <activity
            android:name="web.abroad.prototype.RegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name="web.abroad.prototype.LoginActivity"
            android:label="@string/app_name" />
        <activity android:name="web.abroad.prototype.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBYs10kbPTfoGJ95mcGT61Cf7_cEF5URoA" />
    </application>

</manifest>